{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true,
  "jsxSingleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none"
}
